@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'League Spartan';
    font-weight: 400;
    color: white;
}

header {
    width: 100%;
    height: 6rem;

    display: flex;

    background-color: #5829AB;

}

nav {
    width: 80rem;
    height: 100%;

    display: flex;
    justify-content: space-between;

    margin: auto;
}

.logo-desktop {
    width: 6rem;
    height: 6rem;

    background-color: red;
}

.links-menu {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}

.links-menu a {
    width: auto;
    height: 2.5rem;
    
    margin-left: 2rem;
    font-size: 1.4rem;
    font-weight: 600;


    display: flex;
    align-items: center;

    transition: all 0.2s ease;

    background-color: transparent;
}

.links-menu a:hover {
    width: auto;
    height: 2.5rem;


    border-radius: 0.5rem;
    color: black;

    background-color: #bd68f29f;
}

.carrosel {
    width: 75%;
    height: 30rem;

    margin: auto;

    border-radius: 0 0 0.7rem 0.7rem;

    background-color: rgb(195, 0, 255);
}

h1{
    font-weight: 600
}

h1,
h2 {
    margin-top: 1rem;
    text-align: center;
    color: #5829AB;
}

.actionBtn {
    width: 25rem;
    height: auto;

    margin: auto;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
}

.Btn-action {
    width: 12rem;
    height: 4.5rem;

    color: #5829AB;
    border: 0.2rem solid #5829AB;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 900;

    cursor: pointer;
    transition: all 0.2s ease;

    background-color: transparent;
}

.Btn-action:hover {
    transform: translateY(-0.5rem);
    color: white;
    background-color: #5829AB;
}

.container{
    width: 75%;
    height: 40rem;
}