@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'League Spartan';
    font-weight: 400;
    color: white;
}

body {
    background-color: #f8f8ff;
}

header {
    width: 100%;
    height: 6rem;

    display: flex;

    background-color: #5829AB;

}

nav {
    width: 80rem;
    height: 100%;

    display: flex;
    justify-content: space-between;

    margin: auto;
}

.logo-desktop {
    width: 6rem;
    height: 6rem;

    background-color: red;
}

.links-menu {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}

.links-menu a {
    width: auto;
    height: 2.5rem;

    margin-left: 2rem;
    font-size: 1.4rem;
    font-weight: 600;


    display: flex;
    align-items: center;

    transition: all 0.2s ease;

    background-color: transparent;
}

.links-menu a:hover {
    width: auto;
    height: 2.5rem;


    border-radius: 0.5rem;
    color: black;

    background-color: #bd68f29f;
}

.carrosel {
    width: 75%;
    height: 30rem;

    margin: auto;

    border-radius: 0 0 0.7rem 0.7rem;

    background-color: rgb(195, 0, 255);
}

h1 {
    font-weight: 600
}

h1,
h2 {
    margin-top: 2rem;
    text-align: center;
    color: #5829AB;
}

.actionBtn {
    width: 25rem;
    height: auto;

    margin: auto;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
}

.Btn-action {
    width: 12rem;
    height: 4.5rem;

    color: #5829AB;
    border: 0.2rem solid #5829AB;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 900;

    cursor: pointer;
    transition: all 0.2s ease;

    background-color: transparent;
}

.Btn-action:hover {
    transform: translateY(-0.5rem);
    color: white;
    background-color: #5829AB;
}

.container {
    width: 75%;
    height: auto;

    margin: auto;

    margin-top: 4rem;
}

.alt-center {
    width: 90%;
    height: auto;

    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;

    display: flex;

}

.alt-center p {
    width: 40rem;

    color: #5829AB;
    font-size: 1.5rem;
    line-height: 2rem;

    padding: 0.5rem;

    box-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.568);
    border-radius: 0.5rem;
    border: 0.2rem solid #5929abb7;
}

.alt-center img {
    width: 32rem;
    height: 27rem;
}

.servico {
    width: 60%;
    height: auto;

    display: flex;
    justify-content: space-between;

    margin: auto;
    margin-top: 3rem;

    box-shadow: 0.3rem 0.4rem 0.8rem rgba(0, 0, 0, 0.568);
    border-radius: 0.5rem;
    border: 0.2rem solid #5929abb7;

    background-color: white;
}

.servico h1 {
    text-align: left;
}

.contents-service {
    width: 49%;
    height: auto;

    align-items: center;

    padding: 2rem;

    color: black;

}

.contents-service .item {
    height: auto;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.contents-service strong {
    display: block;
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 5px;
}

.contents-service p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #008000;
}

.contents-service span {
    font-size: 1.3rem;
    color: #666;
}

strong {
    color: red;
}

.Btn-action-retro {
    width: 12rem;
    height: 4.5rem;
    color: white;

    border: 0.2rem solid #5829AB;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 900;

    cursor: pointer;
    transition: all 0.2s ease;

    background-color: #5829AB;
}

.Btn-action-retro:hover {
    color: #5829AB;
    transform: translateY(-0.5rem);

    background-color: transparent;

}

.centralizar {
    width: 100%;
    height: 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria {
    width: 65%;
    height: 20rem;

    margin: auto;
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
}

.categoria-portifolio {
    width: 35rem;
    height: 20rem;

    border-radius: 0.5rem;
    position: relative;
    display: inline-block;

    overflow: hidden;

    background-color: #008000;
}

.categoria-portifolio img {
    width: 100%;
    height: 100%;

    cursor: pointer;
    display: block;

    transition: all 0.2s ease;
}

.categoria-portifolio img:hover {
    filter: blur(0.3rem);
    scale: 110%;
}

.title-categoria {
    width: 100%;
    height: 4rem;

    z-index: 9;
    bottom: 0;
    position: absolute;

    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: #5929ab88;
}




.agendamento {
    background: #f7f7f7;
    padding: 40px 20px;
}

.container-agendamento {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container-agendamento h1 {
    text-align: center;
    margin-bottom: 10px;
}

.container-agendamento p {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

.container-agendamento form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

    color: black;
}

.container-agendamento form input,
.container-agendamento form select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;

    color: black;
}

.container-agendamento button {
    background: #222;
    color: black;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.container-agendamento button:hover {
    background: #000;
}


html {
    scroll-behavior: smooth;
}